
<div class="alert bg-success" align="center" style="font-size: 150%" role="alert">SERA YÖNETİM PANELİNE HOŞGELDİNİZ ,DEĞERLERİ GÖREBİLİR YA DA İSTEDİĞİNİZ İŞLEMLERİ YAPABİLİRSİNİZ.</div>
<div class="alert bg-success" align="center" style="font-size: 120%; width: 50%; margin-left: 25%" role="alert">


    <p>
        @DateTime.Now
    </p>

    <hr/>
    <img src="http://www.mgm.gov.tr/sunum/sondurum-klasik-5070.aspx?m=SAKARYA&rC=111&rZ=fff" style="width: 150px; height: 100px;" alt="SAKARYA"/>
    <img src="http://www.mgm.gov.tr/sunum/tahmin-klasik-5070.aspx?m=SAKARYA&basla=1&bitir=5&rC=111&rZ=fff" style="width: 300px; height: 100px;" alt="SAKARYA"/>

</div>